{% if page_notes.length > 0 %}
{% for note in page_notes -%}
>[!tip] Page Notes
>> {{note.annotation}}
{%- if note.tags | length %}
{% for tag in note.tags -%} #{{tag | replace(" ", "-")+" "}}{%- endfor %}
{% endif %} {% endfor %} {% endif %} 
{% for highlight in highlights -%}
>[!note] [Updated on {{highlight.updated}}]({{highlight.incontext}})
>> {{highlight.text}}
> 
{% if highlight.annotation %}>
`far:Edit` {{highlight.annotation}}
{% endif %}
{%- if highlight.tags | length %}

{% for tag in highlight.tags -%} #{{tag | replace(" ", "-")+" "}}{%- endfor %} {% endif %} 
{% endfor %}
